@tailwind base;
@tailwind components;
@tailwind utilities;



/* CSS HEX 
--yale-blue: #0d3b66ff;
--lemon-chiffon: #faf0caff;
--naples-yellow: #f4d35eff;
--sandy-brown: #ee964bff;
--tomato: #f95738ff;


--yale-blue: hsla(209.0, 77.4%, 22.5%, 1);
--lemon-chiffon: hsla(47.5, 82.8%, 88.6%, 1);
--naples-yellow: hsla(46.8, 87.2%, 66.3%, 1);
--sandy-brown: hsla(27.6, 82.7%, 61.4%, 1);
--tomato: hsla(9.6, 94.1%, 59.8%, 1);
*/

/*
Rich Black: 0B2027
Cerulean: 40798C
Verdigris: 70A9A1
Ash Gray: CED7C7
Cornsilk: F6F1D1

Rich Black: HSL(195.0, 56.0%, 9.8%)
Cerulean: HSL(195.0, 37.3%, 40.0%)
Verdigris: HSL(171.6, 24.9%, 55.1%)
Ash Gray: HSL(93.8, 16.7%, 81.2%)
Cornsilk: HSL(51.9, 67.3%, 89.2%)
*/ 





@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}